{{ define "map" }}
<html>
    <head>
	<title>debug</title>
	<style type="text/css">
	 body {
		 margin: 0px;
		 padding: 0px;
	 }
	 #map {
		 width:100%;
		 height:100vh;
	 }
	</style>
    </head>
    <body>
	<div id="map"></div>
    </body>
    <script>

     var api_key = document.body.getAttribute("data-nextzen-api-key");
     var style_url = document.body.getAttribute("data-nextzen-style-url");

     var map = L.map("map");    

     var tangramOptions = {
         scene: {
             import: [
                 style_url
             ],
             sources: {
                 mapzen: {
                     url: 'https://{s}.tile.nextzen.org/tilezen/vector/v1/512/all/{z}/{x}/{y}.mvt',
                     url_subdomains: ['a', 'b', 'c', 'd'],
                     url_params: {api_key: api_key},
                     tile_size: 512,
                     max_zoom: 16
                 }
             }
         }
     };
     
     var tangramLayer = Tangram.leafletLayer(tangramOptions);
     tangramLayer.addTo(map);
     
     map.setView([40.70531887544228, -74.00976419448853], 15);
    </script>
</html>
{{ end }}
